@import "../../styles/breakpoint";

.main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 9;
  @include lg {
    padding-inline: 120px;
    height: 154px;
  }
  @include xxl {
    height: 254px;
  }
}

.logo {
  margin-inline: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  svg {
    height: 50px;
    width: 50px;
    @include lg {
      height: 80px;
      width: 100px;
    }
    @include xxl {
      width: 80px;
      height: 120px;
    }
  }
}

.menuBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    display: flex;
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.5);
    font-weight: 400;
    background-color: transparent;
    border: none;
    padding-inline: 2px;
    margin-right: 20px;
    gap: 8px;

    @include lg {
      margin-right: 0px;
      gap: 18px;
      font-size: 1.875rem;
      line-height: 2.25rem;
    }

    &[data-active="true"] {
      div {
        span:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        span:nth-child(2) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
    div {
      position: relative;
      width: 30px;
      height: 36px;
      span {
        position: absolute;
        display: block;
        height: 4px;
        width: 30px;
        background-color: var(--primary-text);
        border-radius: 999px;
      }
      span:nth-child(1) {
        top: 12px;
      }
      span:nth-child(2) {
        top: 27px;
      }
      @include lg {
        width: 58px;
        height: 36px;
        span {
          height: 4px;
          width: 58px;
        }
      }
    }
  }
}

.pathOne {
  position: absolute;
  top: -40px;
  left: 10.015vw;
  svg {
    height: 10.015vw;
    width: 19.556vw;
  }
}

.pathTwo {
  position: absolute;
  top: -40px;
  right: 1.302vw;
  svg {
    height: 16.952vw;
    width: 15.344vw;
  }
}

.menu {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 8;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-two);
  justify-content: center;
  @include lg {
    justify-content: space-between;
    padding-top: 154px;
  }
  @include xxl {
    padding-top: 254px;
  }
  &_grid {
    display: grid;
    justify-items: center;
    max-width: 1540px;
    margin-inline: auto;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    a {
      font-family: SaolDisplay;
      display: flex;
      align-items: flex-start;
      text-decoration: none;
      font-weight: 400;
      position: relative;
      font-size: 2rem;
      line-height: calc(2rem * 1.4);
      @include lg {
        line-height: 8.125rem;
        font-size: 6.25rem;
      }
      // &:hover {
      //   svg {
      //     path {
      //       stroke-dashoffset: 2600px;
      //     }
      //   }
      // }
      // &[data-active="true"] {
      //   svg {
      //     path {
      //       stroke-dashoffset: 2600px;
      //     }
      //   }
      // }
      svg {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: scale(1.4);
        path {
          transition: 0.5s all var(--power4);
          stroke-dasharray: 1300px;
          stroke-dashoffset: 1300px;
        }
      }
      @include xxl {
        font-size: 9.375rem;
        line-height: 11.25rem;
      }
      span {
        font-size: 1rem;
        line-height: calc(1rem * 1.5);
        margin-bottom: auto;
        @include lg {
          margin-top: 20px;
          line-height: 2.25rem;
          font-size: 1.875rem;
        }
      }
    }
  }
  &_social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    position: relative;
    z-index: 2;
    margin-top: 50px;
    @include lg {
      margin-top: 0px;
      margin-bottom: 25px;
    }
    @include xxl {
      margin-bottom: 100px;
    }
    a {
      text-decoration: none;
      font-size: 1.25rem;
      line-height: calc(1.25rem * 1.5);
      font-weight: 400;
      @include lg {
        line-height: 2.25rem;
        font-size: 1.875rem;
      }
    }
  }
}

.pathMenuOne {
  position: absolute;
  top: 0%;
  left: 0%;
  svg {
    height: 80px;
    width: 80px;
    @include lg {
      height: 15vw;
      width: 15vw;
    }
  }
}
.pathMenuTwo {
  position: absolute;
  top: 37%;
  left: -5%;
  svg {
    height: 20vw;
    width: 30vw;
  }
}
.pathMenuThree {
  position: absolute;
  top: 50px;
  left: 24%;
  @include lg {
    top: 0%;
  }
  svg {
    width: 50vw;
    height: 20vw;
    @include lg {
      height: 17vw;
      width: 20vw;
    }
  }
}
.pathMenuFour {
  position: absolute;
  top: 80px;
  left: 70%;
  @include lg {
    top: 0%;
  }
  svg {
    height: 100px;
    width: 100px;
    @include lg {
      height: 10vw;
      width: 10vw;
    }
  }
}
.pathMenuFive {
  position: absolute;
  top: 30%;
  right: 0%;
  display: none;
  @include lg {
    display: block;
  }
  svg {
    width: 20vw;
    height: 20vw;
  }
}
.pathMenuSix {
  position: absolute;
  top: 50%;
  left: 0%;
  svg {
    height: 20vw;
    width: 15vw;
  }
}
.pathMenuSeven {
  position: absolute;
  top: 80%;
  left: 30%;
  svg {
    width: 150px;
    height: 150px;
    @include lg {
      height: 15vw;

      width: 15vw;
    }
  }
}
.pathMenuEight {
  position: absolute;
  top: 75%;
  left: 79%;
  svg {
    height: 150px;
    width: 100px;
    @include lg {
      width: 5.781vw;
      height: 10.938vw;
    }
  }
}

.large {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  background-color: var(--bg-one);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 10vw;
    line-height: 9.3vw;
    white-space: nowrap;
  }
}

.float {
  position: fixed;
  z-index: 999;
  width: 225px;
  height: 340px;
  inset: 20px;
  overflow: hidden;
  transform: rotate(20deg);
  pointer-events: none;
  border-radius: 8px;
  opacity: 0;
  &_visible {
    overflow: visible;
    display: flex;
    flex-direction: column;
  }
  img {
    height: 340px;
    width: 225px;
    object-fit: cover;
  }
}

.menu3D {
  width: 370px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  position: relative;
  transition: 0.8s all var(--power4);
  transform: rotate3d(1, 0, 0, 0deg);
  z-index: 2;
  &:hover {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  &_bottom {
    position: absolute;
    transform: rotateX(-90deg) translateZ(65px);
  }
  &_front {
    position: absolute;
    transform: translateZ(65px);
  }
}
