@import "../../styles/breakpoint";

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 200px;
  @include lg {
    min-height: 100vh;
    margin-top: 600px;
  }
  h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    font-weight: 400;
    margin-inline: auto;
    max-width: 1260px;
    font-size: 4rem;
    line-height: calc(4rem * 1.2);
    @include lg {
      font-size: 15.625rem;
      line-height: 20.625rem;
    }
    @include xxl {
      max-width: 1560px;
      font-size: 21.875rem;
      line-height: 26.875rem;
    }
  }
}

.tag {
  font-size: 3.125rem;
  line-height: calc(3.125rem * 1.2);
  z-index: 2;
  transform: rotate(-90deg);
  margin-left: -40px;
}

.pathOne {
  position: absolute;
  top: -280px;
  left: 72%;
  z-index: -1;
  @include lg {
    z-index: 0;
    top: -780px;
  }
  svg {
    width: 91.406vw;
    height: 78.906vw;
  }
}

.pathTwo {
  position: absolute;
  z-index: 1;
  top: -250px;
  left: -15%;
  svg {
    width: 34.844vw;
    height: 31.094vw;
  }
}

.pathThree {
  position: absolute;
  top: -230px;
  left: 80%;
  @include lg {
    top: -630px;
  }
  svg {
    width: 34vw;
    height: 39vw;
  }
}

.pathFour {
  position: absolute;
  top: -210px;
  z-index: 2;
  @include lg {
    top: -120px;
    left: -6%;
  }
  svg {
    width: 13.021vw;
    height: 12.813vw;
  }
}
.pathFive {
  position: absolute;
  top: -30%;
  left: -10%;
  svg {
    width: 95.521vw;
    height: 85.469vw;
  }
}

.pathSix {
  position: absolute;
  top: 50px;
  left: 73%;
  z-index: 4;
  path {
    fill: white;
    @include lg {
      fill: black;
    }
  }
  @include lg {
    top: -150px;
  }
  svg {
    height: 100px;
    width: 100px;
    @include lg {
      height: 20.052vw;
      width: 20.052vw;
    }
  }
}

.counter {
  position: absolute;
  z-index: 5;
  font-size: 2rem;
  line-height: calc(2rem * 1.5);
  bottom: 5%;
  right: 20px;
  color: white;
  @include lg {
    right: 42vw;
    color: var(--primary-text);
    font-size: 3.5rem;
    line-height: calc(3.5rem * 1.2);
  }
  span {
    display: inline-block;
  }
  @include xxl {
    bottom: 15%;
    font-size: 5rem;
    line-height: calc(5rem * 1.2);
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  position: absolute;
  right: 0%;
  @include lg {
    width: 40vw;
    height: 50vw;
  }
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  &_dots {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    z-index: 5;
    margin-left: 20px;
    @include lg {
      margin-left: 50px;
    }
    &_dot {
      height: 32px;
      width: 32px;
      position: relative;
      border: none;
      background-color: transparent;
      &[data-active="true"] {
        &::before {
          transform: translateX(-50%) translateY(-50%) scale(1);
        }
      }
      &::after {
        content: "";
        height: 6px;
        width: 6px;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        background-color: white;
        border-radius: 999px;
        @include lg {
          background-color: var(--primary-text);
        }
      }
      &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%) scale(0);
        top: 50%;
        left: 50%;
        border: 1px solid white;
        border-radius: 999px;
        transition: 0.3s all var(--power4);
        @include lg {
          border: 1px solid var(--primary-text);
        }
      }
    }
  }
}

.content {
  position: relative;
  z-index: 5;
  margin-bottom: 100px;
  align-self: flex-end;
  margin-left: -20px;
  @include lg {
    margin-left: 2.083vw;
    align-self: auto;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 2.5rem;
    line-height: calc(2.5rem * 1.2);
    color: white;
    @include lg {
      font-size: 4.5rem;
      line-height: calc(4.5rem * 1.2);
      color: var(--primary-text);
    }
    @include xxl {
      font-size: 5.625rem;
      line-height: calc(5.625rem * 1.2);
    }
  }
  p {
    font-size: 1rem;
    line-height: calc(1rem * 1.5);
    color: white;
    @include lg {
      font-size: 1.5rem;
      line-height: calc(1.5rem * 1.4);
      color: var(--primary-text);
    }
    @include xxl {
      font-size: 1.875rem;
      line-height: calc(1.875rem * 1.2);
    }
  }
}
