@import "../../styles/breakpoint";

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 200px;
  @include lg {
    min-height: 100vh;
    margin-top: 120px;
    // margin-top: 600px;
  }
  h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    font-weight: 400;
    margin-inline: auto;
    max-width: 1260px;
    font-size: 4rem;
    line-height: calc(4rem * 1.2);
    cursor: default;
    span {
      display: inline-block;
      transform-origin: bottom;
    }
    @include lg {
      font-size: 15.625rem;
      line-height: calc(15.625rem / 2);
      margin-top: calc(15.625rem / 2);
    }
    @include xxl {
      margin-top: 10.937rem;
      max-width: 1560px;
      font-size: 21.875rem;
      line-height: 10.937rem;
    }
  }
}

.tag {
  font-size: 3.125rem;
  line-height: calc(3.125rem * 1.2);
  z-index: 2;
  transform: rotate(-90deg);
  margin-left: -40px;
}

.pathOne {
  position: absolute;
  top: -280px;
  left: 72%;
  z-index: -1;
  @include lg {
    z-index: 0;
    top: -780px;
  }
  svg {
    width: 91.406vw;
    height: 78.906vw;
  }
}

.pathTwo {
  position: absolute;
  z-index: 1;
  top: -250px;
  left: -15%;
  svg {
    width: 34.844vw;
    height: 31.094vw;
  }
}

.pathThree {
  position: absolute;
  top: -230px;
  left: 80%;
  @include lg {
    top: -630px;
  }
  svg {
    width: 34vw;
    height: 39vw;
  }
}

.pathFour {
  position: absolute;
  top: -210px;
  z-index: 2;
  @include lg {
    top: -120px;
    left: -6%;
  }
  svg {
    width: 13.021vw;
    height: 12.813vw;
  }
}
.pathFive {
  position: absolute;
  top: -30%;
  left: -10%;
  svg {
    width: 95.521vw;
    height: 85.469vw;
  }
}

.pathSix {
  position: absolute;
  top: 50px;
  left: 73%;
  z-index: 4;

  @include lg {
    top: -150px;
  }
  svg {
    height: 100px;
    width: 100px;
    @include lg {
      height: 20.052vw;
      width: 20.052vw;
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 66px;
  gap: 66px;
}

.slide {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 132px);
  width: 100%;
  border-radius: 8px;
}

.content {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  z-index: 3;
  padding-inline: 3.472vw;
  min-height: 360px;
  width: 100%;
  h2 {
    font-size: 4rem;
    line-height: calc(4rem * 1.2);
    color: rgb(255 255 255);
    @include lg {
      font-size: 8.889vw;
      line-height: calc(8.889vw * 1.2);
    }
  }
  p {
    font-size: 1rem;
    line-height: calc(1rem * 1.5);
    color: rgb(255 255 255);
    text-transform: uppercase;
    padding: 0.694vw 1.389vw;
    background-color: rgba(255 255 255 / 0.2);
    width: fit-content;
    border-radius: 9999px;
    @include lg {
      font-size: 0.972vw;
      line-height: calc(0.972vw * 1.5);
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.694vw;
  width: 45%;
}

.image {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  &_cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(20 20 20 / 0.2);
  }
  img {
    object-fit: cover;
  }
}
