@import "../../styles/breakpoint";

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  @include lg {
    min-height: 100vh;
    margin-top: 140px;
  }
  h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    font-weight: 400;
    margin-inline: auto;
    max-width: 1260px;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: calc(4rem * 1.2);
    cursor: default;
    span {
      display: inline-block;
      transform-origin: bottom;
    }
    @include lg {
      font-size: 15.625rem;
      line-height: calc(15.625rem / 2);
      margin-top: calc(15.625rem / 2);
      margin-bottom: calc(15.625rem / 2);
    }
    @include xxl {
      margin-top: 10.937rem;
      margin-bottom: 10.937rem;
      max-width: 1560px;
      font-size: 21.875rem;
      line-height: 10.937rem;
    }
  }
}

.heading {
  margin-inline: auto;
  margin-bottom: 100px;
  svg {
    width: 60vw;
    path {
      fill: transparent;
      stroke-dasharray: 1260px;
      stroke: black;
    }
  }
}

.grid {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
  @include lg {
    gap: 100px;
    flex-direction: column-reverse;
    margin-top: 130px;
  }
  @include xxl {
    padding-inline: 0px;
    gap: 140px;
  }
  &_logos {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include lg {
      gap: 40px;
    }
  }
  &_logo {
    width: 100%;
    height: 100px;
    object-fit: fill;
    padding: 15px;

    @include lg {
      width: 260px;
      height: 100px;
    }
    @include xxl {
      width: 320px;
      height: 100px;
    }
  }
  &_para {
    position: relative;
    padding-inline: 20px;
    @include lg {
      padding-inline: 40px;
    }
    p {
      font-size: 1.5rem;
      line-height: calc(1.5rem * 1.5);
      font-weight: 400;
      @include lg {
        font-size: 3rem;
        line-height: calc(3rem * 1.2);
      }
      @include xxl {
        font-size: 3.25rem;
        line-height: calc(3.25rem * 1.2);
      }
    }
    &_hide {
      position: absolute;
      z-index: -1;
      color: white;
      inset: 0;
      height: 100%;
      width: 100%;
      padding-inline: 20px;
      @include lg {
        padding-inline: 40px;
      }
    }
  }
}

.pathOne {
  position: absolute;
  top: -40px;
  left: -2%;
  @include lg {
    top: -162px;
  }
  @include xxl {
    top: -220px;
  }
  svg {
    width: 36vw;
    height: 36vw;
  }
}

.pathTwo {
  position: absolute;
  top: 210px;
  right: -8%;
  svg {
    width: 28vw;
    height: 28vw;
  }
}

.tag {
  position: absolute;
  z-index: 2;
  transform: translateY(-50%) rotate(270deg);
  top: 50%;
  left: -55px;
  font-size: 2.5rem;
  line-height: calc(2.5rem * 1.2);
}
