@import "../../styles/breakpoint";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding-inline: 20px;
  height: calc(100vh - 80px);
  @include lg {
    height: calc(100vh - 154px);
    padding-inline: 0px;
  }
  @include xxl {
    height: calc(100vh - 254px);
  }
  h3 {
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.5);
    font-weight: 400;
    margin-inline: auto;
    @include lg {
      max-width: 1260px;
      font-size: 3.25rem;
      line-height: 4.0625rem;
    }
    @include xxl {
      max-width: 1560px;
      font-size: 4.0625rem;
      line-height: 4.875rem;
    }
  }
}

.pathFive {
  position: absolute;
  top: -5%;
  right: -10%;
  svg {
    height: 14.997vw;
    width: 15.027vw;
  }
}

.lottie {
  display: inline-flex;
  min-width: 100px;
  width: 100px;
  min-height: 100px;
  height: 100px;
}

.heading {
  display: flex;
  h3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.5);
    font-weight: 400;
    margin-inline: auto;
    @include lg {
      max-width: 1260px;
      font-size: 3.12rem;
      line-height: calc(3.12rem * 1.5);
    }
    @include xxl {
      max-width: 1560px;
      font-size: 4rem;
      line-height: calc(4rem * 1.2);
    }
  }
  &_cursor {
    animation: Typewriter-cursor 1s infinite;
    &[data-hide] {
      animation: none;
      opacity: 0;
    }
  }
  &_cover {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    span {
      transform-style: preserve-3d;
    }
  }
  &_svg {
    height: 136px;
    width: 136px;
    display: inline-flex;
    position: absolute;
    bottom: -7px;

    &[data-position="vienna"] {
      bottom: 5px;
      left: 12px;
    }
    &[data-position="ux"] {
      height: 75px;
      width: 75px;
      bottom: 6px;
      left: -6px;
    }
    &[data-position="tailor"] {
      height: 128px;
      width: 128px;
      bottom: -25px;
      left: 0px;
    }
    &[data-position="brand"] {
      height: 128px;
      width: 128px;
      bottom: -25px;
      left: 17px;
    }
  }
}

@keyframes Typewriter-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
