@import "../../styles/breakpoint";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 154px);
  width: 100%;
  position: relative;
  @include xxl {
    height: calc(100vh - 254px);
  }
  h3 {
    font-size: 3.25rem;
    line-height: 4.0625rem;
    font-weight: 400;
    margin-inline: auto;
    max-width: 1260px;
    @include xxl {
      max-width: 1560px;
      font-size: 4.0625rem;
      line-height: 4.875rem;
    }
  }
}

.pathFive {
  position: absolute;
  top: -5%;
  right: -10%;
  svg {
    height: 14.997vw;
    width: 15.027vw;
  }
}
