@import "../../styles/breakpoint";

.main {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  overflow: hidden;
  @include lg {
    margin-top: 140px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 50px;
  a,
  span {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.5);
  }
  @include xxl {
    margin-top: 100px;
    a,
    span {
      text-decoration: none;
      font-size: 1.875rem;
      line-height: calc(1.875rem * 1.5);
    }
  }
}

.foot {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-inline: 50px;
  margin-top: 50px;
  @include xxl {
    margin-top: 100px;
  }
}

.star {
  height: 30px;
  width: 30px;
  @include xxl {
    height: 40px;
    width: 40px;
  }
}

.logo {
  margin-block: 80px;
  svg {
    height: 100px;
    width: 50px;
  }
  @include xxl {
    margin-block: 190px;
    svg {
      height: 160px;
      width: 104px;
    }
  }
}

.pathOne {
  position: absolute;
  bottom: -50px;
  right: -20%;
  z-index: -1;
  @include lg {
    bottom: -340px;
  }
  svg {
    width: 53vw;
    height: 57vw;
  }
}
.pathTwo {
  position: absolute;
  top: 0px;
  right: 0%;
  svg {
    width: 40vw;
    height: 28vw;
  }
}
.pathThree {
  position: absolute;
  top: 0px;
  right: 0%;
  svg {
    width: 23vw;
    height: 20vw;
  }
}
.pathFour {
  position: absolute;
  top: 100px;
  left: -10%;
  @include lg {
    top: -210px;
  }
  svg {
    width: 34vw;
    height: 30vw;
  }
}
.pathFive {
  position: absolute;
  bottom: -50px;
  left: -24%;
  z-index: -1;
  svg {
    width: 57vw;
    height: 25vw;
  }
}

.link {
  position: relative;
  a {
    opacity: 1;
    padding-inline: 15px;
  }
  span {
    display: inline-block;
  }
  &_box {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
  }
}
