@import "../../styles/breakpoint";

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  @include lg {
    margin-top: 400px;
    min-height: 100vh;
  }
  h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    font-weight: 400;
    margin-inline: auto;
    max-width: 1260px;
    font-size: 4rem;
    line-height: calc(4rem * 1.2);
    cursor: pointer;
    span {
      display: inline-block;
      transition: 0.2s all var(--power4);
      transform-origin: bottom;
      &:hover {
        transform: scaleY(1.4);
      }
    }
    @include lg {
      font-size: 15.625rem;
      line-height: calc(15.625rem / 2);
      margin-top: calc(15.625rem / 2);
      margin-bottom: calc(15.625rem / 2);
    }
    @include xxl {
      margin-top: 10.937rem;
      margin-bottom: 10.937rem;
      max-width: 1560px;
      font-size: 21.875rem;
      line-height: 10.937rem;
    }
  }
}

.grid {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;

  &[data-visible] {
    overflow: visible;
    @include lg {
      padding-left: 25vw;
    }
  }
}

.image {
  object-fit: cover;
  height: 60vh;
  width: 70vw;
  @include lg {
    height: 80vh;
    width: 35vw;
  }
}

.imgCover {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbox {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  @include lg {
    width: 50vw;
    min-width: 50vw;
  }
  h2 {
    -webkit-text-fill-color: var(--bg-three);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 3rem;
    line-height: calc(3rem * 1.5);
    @include lg {
      font-size: 5.5rem;
      line-height: calc(5.5rem * 1.2);
    }
    @include xxl {
      font-size: 7.5rem;
      line-height: calc(7.5rem * 1.2);
    }
  }
  p {
    color: black;
    clip-path: inset(100% 0% 0% 0%);
    min-height: 150px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5%;
    transform: translateX(-50%);
    left: 50%;
    font-size: 0.875rem;
    line-height: calc(0.875rem * 1.5);
    transition: 0.5s all var(--power4);
    padding-inline: 20px;
    @include lg {
      font-size: 1rem;
      line-height: calc(1rem * 1.5);
      padding-inline: 2px;
    }
    @include xxl {
      min-height: 235px;
      font-size: 1.75rem;
      line-height: calc(1.75rem * 1.4);
    }
  }
}

.imgGrid {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  inset: 0;
}

.pathOne {
  position: absolute;
  top: -70px;
  left: 40%;
  @include lg {
    top: -160px;
  }
  svg {
    width: 23vw;
    height: 15vw;
  }
}
.pathTwo {
  position: absolute;
  top: -50px;
  left: -17%;
  @include lg {
    top: -130px;
  }
  svg {
    width: 30vw;
    height: 33vw;
  }
}
.pathThree {
  position: absolute;
  bottom: 0px;
  right: 9%;
  svg {
    width: 26vw;
    height: 23vw;
  }
}
.pathFour {
  position: absolute;
  top: 50px;
  left: -20%;
  @include xxl {
    top: 190px;
  }
  svg {
    width: 47vw;
    height: 44vw;
  }
}
.pathFive {
  position: absolute;
  top: 0px;
  right: 0%;
  svg {
    width: 20vw;
    height: 18vw;
  }
}
.pathSix {
  position: absolute;
  top: -410px;
  right: 0%;
  svg {
    width: 20vw;
    height: 30vw;
  }
}
