@import "../../styles/breakpoint";

.main {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 400px;
  h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    font-size: 15.625rem;
    line-height: 20.625rem;
    font-weight: 400;
    margin-inline: auto;
    max-width: 1260px;
    @include xxl {
      max-width: 1560px;
      font-size: 21.875rem;
      line-height: 26.875rem;
    }
  }
}

.grid {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
  &[data-visible] {
    overflow: visible;
    padding-left: 25vw;
  }
}

.image {
  object-fit: cover;
  width: 35vw;
  height: 45vw;
}

.imgCover {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbox {
  position: relative;
  height: 100vh;
  width: 50vw;
  min-width: 50vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    -webkit-text-fill-color: var(--bg-three);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 5.5rem;
    line-height: calc(5.5rem * 1.2);
    @include xxl {
      font-size: 7.5rem;
      line-height: calc(7.5rem * 1.2);
    }
  }
  p {
    color: black;
    clip-path: inset(100% 0% 0% 0%);
    min-height: 150px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5%;
    transform: translateX(-50%);
    left: 50%;
    font-size: 1rem;
    line-height: calc(1rem * 1.5);
    transition: 0.5s all var(--power4);
    padding-inline: 2px;
    @include xxl {
      min-height: 235px;
      font-size: 1.75rem;
      line-height: calc(1.75rem * 1.4);
    }
  }
}

.imgGrid {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  inset: 0;
}

.pathOne {
  position: absolute;
  top: -160px;
  left: 40%;
  svg {
    width: 23vw;
    height: 15vw;
  }
}
.pathTwo {
  position: absolute;
  top: -130px;
  left: -17%;
  svg {
    width: 30vw;
    height: 33vw;
  }
}
.pathThree {
  position: absolute;
  bottom: 0px;
  right: 9%;
  svg {
    width: 26vw;
    height: 23vw;
  }
}
.pathFour {
  position: absolute;
  top: 50px;
  left: -20%;
  @include xxl {
    top: 190px;
  }
  svg {
    width: 47vw;
    height: 44vw;
  }
}
.pathFive {
  position: absolute;
  top: 0px;
  right: 0%;
  svg {
    width: 20vw;
    height: 18vw;
  }
}
.pathSix {
  position: absolute;
  top: -410px;
  right: 0%;
  svg {
    width: 20vw;
    height: 30vw;
  }
}
